@font-face {
  font-family: 'PlayfairDisplay-Regular';
  font-weight: 400;
  src: url('./../../fonts/PlayfairDisplay-Regular.ttf');
}

.navigation ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li{
    height: 32px;
    flex-grow: 1;
    text-align: center;
    margin: 0 auto;
    border: 2px solid purple;
    border-top: 1px solid rebeccapurple;
    border-radius: 36px;
  a{
      color: black;
      font: {
        family: PlayfairDisplay-Regular, sans-serif;
        weight: 600;
        size:24px;
      }
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}