.navigation ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  li{
    border-top: 4px solid purple;
    flex-grow: 1;
    text-align: center;
    margin: 0 auto;
    a{
      color: #363d54;
      font-size: 24px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

