.search-logo{
  height: 35px;
  border: 2px solid purple;
  border-top: 1px solid rebeccapurple;
  border-radius: 36px;
  background: url('./../../../img/find.png') white 2px no-repeat;
  background-size: 35px;
  padding-left: 32px;
}