.add-to-wishList{
  position: absolute;
  top: 250px;
  left: 950px;
  width: 50px;
  height: 50px;
  //background: url('./../../../img/wish-list.jpg') white no-repeat;
  background-size: contain;
  border: none;
  outline-color: transparent;
  cursor: pointer;
}