.find-city-button{
  width: 100px;
  height: 52px;
  background: #d3d3d340;
  border-radius: 25px;
  border: none;
  font-size: 20px;
  box-shadow: 2px 2px 5px #aaaaaaa3, -2px -2px 5px #aaaaaaa3;
  text-transform: uppercase;
}