.content-item{
  line-height: 50px;
  text-align: center;
}

.content-item-name{
  text-decoration: none;
}

.delete-item{
  height: 25px;
  width: 25px;
  margin-left: 10px;
  border: none;
  background: url("../../img/1024px-Icono_archivo_borrar.svg.png") center no-repeat;
  background-size: contain;
}

.item-details{
  line-height: 18px;
  text-align: center;
  margin: 5px;
  padding: 0;
}
