.item-size{
  position: relative;
  left: 400px;
  font: {
    family: 'PlayFair Display', sant-serif;
    size: 18px;
  }
  margin-bottom: 310px;
  select{
    width: 80px;
    height: 20px;
    font-size: 15px;
    margin-left: 10px;
  }
}