@font-face {
  font-family: 'PlayfairDisplay-Italic';
  font-weight: 400;
  src: url('./../../../fonts/PlayfairDisplay-Italic.ttf');
}

.item-size{
  width: 400px;
  float: right;
  left: 500px;
  font: {
    family: 'PlayfairDisplay-Italic', cursive;
    size: 20px;
  }
  margin-bottom: 340px;
  select{
    width: 80px;
    height: 20px;
    font-size: 15px;
    margin-left: 10px;
    font-family: 'OpenSans-Regular', sans-serif;
  }
}