.list-component{
  width: 350px;
  height: 300px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: 0 4px 15px 0 mediumpurple;
  h3{
    margin: 0;
    height: 50px;
    line-height: 50px;
  }
}