.list-component{
  width: 350px;
  height: 300px;
  border: 1px solid purple;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 20px;
  h3{
    margin: 0;
    height: 50px;
    line-height: 50px;
  }
}