.layout{
  display: flex;
  flex-direction: column;
}

.layout main{
  display: flex;
  flex-direction: column;
  width: 1172px;
  margin: 0 auto;
  border:{
    right: 4px solid purple;
    left: 4px solid purple;
  }
}

