@font-face {
  font-family: 'Playfair Display';
  font-weight: 400;
  src: url('./../../fonts/PlayfairDisplay-Italic.ttf');
}

.about-us{
  width: 600px;
  margin: 0 auto;
  text-align: center;
  margin:{
    top: 50px;
    bottom: 50px;
  }
  font: {
    family:'PlayFair Display', sant-serif;
    size: 24px;
  }
}