@font-face {
  font-family: 'PlayfairDisplay-Regular';
  font-weight: 400;
  src: url('./../../fonts/PlayfairDisplay-Regular.ttf');
}

.about-us{
  width: 600px;
  margin: 25px auto 0 auto;
  text-align: center;
  font: {
    family:'PlayfairDisplay-Regular', sant-serif;
    size: 24px;
  }
}