//@font-face {
//  font-family: 'PlayfairDisplay-Italic';
//  font-weight: 400;
//  src: url('./../../../fonts/PlayfairDisplay-Italic.ttf');
//}

@font-face {
  font-family: 'PlayfairDisplay-Regular';
  font-weight: 400;
  src: url('./../../../fonts/PlayfairDisplay-Regular.ttf');
}

.item-title{
  text-align: center;
  .title, .text{
    font-family: 'PlayfairDisplay-Regular', sans-serif;
    &:first-letter{
      text-transform: uppercase;
    }
  }
  .title{
    font-size: 28px;
    margin: 0 auto 10px auto;
  }
  .text{
    width: 800px;
    font-size: 20px;
    margin: 0 auto 50px auto;
  }
}